body {
  /* background-image: url("../Images/team_bckgrd.jpg"); */
  /* background-color: #fff6dc;
  opacity: 1;
  background-image:  linear-gradient(30deg, #e78919 12%, transparent 12.5%, transparent 87%, #e78919 87.5%, #e78919), linear-gradient(150deg, #e78919 12%, transparent 12.5%, transparent 87%, #e78919 87.5%, #e78919), linear-gradient(30deg, #e78919 12%, transparent 12.5%, transparent 87%, #e78919 87.5%, #e78919), linear-gradient(150deg, #e78919 12%, transparent 12.5%, transparent 87%, #e78919 87.5%, #e78919), linear-gradient(60deg, #e7891977 25%, transparent 25.5%, transparent 75%, #e7891977 75%, #e7891977), linear-gradient(60deg, #e7891977 25%, transparent 25.5%, transparent 75%, #e7891977 75%, #e7891977);
  background-size: 30px 53px;
  background-position: 0 0, 0 0, 15px 26px, 15px 26px, 0 0, 15px 26px; */
  background: 
    radial-gradient(farthest-side at -33.33% 50%, #0000 52%, rgba(10, 106, 64, 1) 54% 57%, #0000 59%),
    radial-gradient(farthest-side at 50% 133.33%, #0000 52%, rgba(10, 106, 64, 1) 54% 57%, #0000 59%),
    radial-gradient(farthest-side at 133.33% 50%, #0000 52%, rgba(10, 106, 64, 1) 54% 57%, #0000 59%) 0 100px,
    radial-gradient(farthest-side at 50% -33.33%, #0000 52%, rgba(10, 106, 64, 1) 54% 57%, #0000 59%) 100px 0,
    rgba(103, 145, 122, 1);
  background-size: calc(200px * 3/14) 200px, 200px calc(200px * 3/14);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 75px;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover, .sidenav a:focus {
  color: #fff;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 50px;
}

.navbar-icon {
  height: 40px;
  width: 40px;
  margin: 20px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.search-click {
  position: fixed;
  top: 25px;
  right: 25px;
  border: 2px solid black;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  font-size: 25px;
  font-weight: bolder;
  background-color: orange;
  background-image: url("https://img.icons8.com/?size=80&id=111487&format=png");
  background-size: 70% 70%;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.5s;
}

.search-click:focus {
  padding: 0px 25px;
  background-image: none;
}

.search-click:not(:focus)::placeholder {
  color: transparent;
}

.search-click:focus::placeholder {
  color: #3c3c3c;
}

.search-click:not(:focus) {
  color: transparent;
}

@media screen and (min-width: 1024px) {
  .search-click:focus {
    width: 25%;
  } 
}

@media screen and (max-width: 1023px) {
  .search-click:focus {
    width: 75%;
  } 
}