body {
  background-image: url("../Images/team_bckgrd.jpg");
}

.team-title {
  font-family: "Comic Sans", cursive;
  font-style: italic;
  font-weight: bold;
  font-size: 4em;
  color: cyan;
}

.meet-the-team {
  margin: 30px auto;
  text-align: center;
}

@keyframes slidein {
  from {
    margin-top: 100%;
  }
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin: 5%;
  animation-duration: 0.5s;
  animation-name: slidein;
}

.team-member {
  background-color: rgb(190, 190, 190);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.profile_image {
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
  line-height: 150px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  border-color: rgb(234, 255, 127);
  border-style: solid;
}

.team-member h4 {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 5px;
}

.team-member p {
  font-size: 13px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.team-member button {
  background-color: rgb(190, 190, 190);
  border: none;
}

.team-member a {
  background-color: rgb(190, 190, 190);
}

.email_send img {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
